#main_container {
  background: #cccccc; }

.main-container-left {
  padding: 0 50px; }
  .main-container-left .post-title {
    margin: 10px;
    font-size: 16px; }
  .main-container-left #post {
    min-height: 200px;
    width: 100%; }

.main-container-right {
  padding: 0 50px;
  background: #333333;
  min-height: 400px; }

#main {
  background: #FFFFFF;
  min-height: 500px;
  margin: 20px;
  box-shadow: 3px 3px 3px 3px #999999;
  padding: 20px; }

.img-zoom {
  background: #fafafa;
  margin: 10px 0 0 0;
  border: 1px solid #ccc;
  border-radius: 4px; }

.img-zoom img {
  display: block;
  margin: 0 auto 20px auto; }

.img-zoom ol {
  height: 35px;
  line-height: 35px;
  font-size: 13px;
  padding: 0 0 0 20px; }
  .img-zoom ol li {
    float: left;
    margin: 0 10px 0 0; }
    .img-zoom ol li a {
      color: #5e7c85;
      text-decoration: none; }
    .img-zoom ol li ol {
      margin-bottom: 15px; }
